* {
      scroll-behavior: smooth;
}
body{
      margin:0;
      text-align: center;
      font-family: 'Nunito', sans-serif;
}
h1{
      margin: 20px  auto 0 auto;
      color: #66BFBF;
      font-size: 50px;
      font-family: 'Satisfy', cursive;
      line-height: 2;
}
h2{
      color: #66BFBF;
      font-size: 30px;
      font-family: 'Satisfy', cursive; 
      font-weight: normal; 
}
h3{
      color: #11999E;
      font-size: 20px;
}
hr{
      border-style: none;
      border-top-style: dotted;
      border-width: 8px;
      width: 7%;
      color:#d4eded;
}
a{
      color: #11999E;
}
.sub{
      color: #66BFBF;
      font-size: 30px;
      margin: 15px auto 10px auto;
}
.C1{
      position: relative;
      background-color: #EAF6F6;
      padding-top: 28vh;
      height: 73vh;
}
.C4{
      background-color: #66BFBF;
      padding: 10px;
}
.top-cloud{
      position: absolute;
      right: 18vw;
      top: 150px;
}
.bottom-cloud{
      position: absolute;
      left: 18vw;
      top: 420px;
}
.mountain{
      position: absolute;
      left: 14%;
      bottom: 5px;
}
.profile{
      width: 60%;
      max-width: 500px;
      margin: 100px auto;
      line-height: 2;
}
.education{
      margin-top: 100px;
}
.edu-row{
      width: 50%;
      margin: 100px auto;
      text-align: left;
      line-height: 2;
}
#course{
      font-weight: bold;
      
}
.jmi-img{
      width:25%;
      float: left;
      margin-right: 30px;
}
.amu-img{
      width:25%;
      float: right;
      margin-left: 30px;
}
.dma-img{
      width:25%;
      float: left;
      margin-right: 30px;
}
.skills{
      margin-top: 100px;
}
.skill-row{
      width: 50%;
      margin: 100px auto;
      text-align: left;
      line-height: 2;
}
.www-img{
      width:25%;
      float: left;
      margin-right: 30px;
}
.prog-img{
      width:25%;
      float: right;
      margin-left: 30px;
}

.projects{
      margin-top:100px;
}
#project-work{
      margin-bottom: 80px;
}
.project-tile{
      display:flex;
      flex-wrap: wrap;
      justify-content:center;
      margin: 30px 40px;
}
.repls{
      margin:30px 30px;
      border: 2px solid #d4eded;
      text-decoration: none;
      font-size: 1rem;
      transition-duration: 1s;
}
.repls:hover{
      border-color: #4abebe;
      font-weight: bold;
}
.repls img{
      height:250px;
      height:250px;
      border-bottom: 2px solid #d4eded;
}
.repls p{
      margin-top:5px;
}

.contact-me{
      width: 50%;
      margin: 100px auto;
}

.btn{
      margin: 40px auto;
      background-color: #11999E;
      margin-bottom:100px;
      width: 120px;
      height: 25px;
      border: #11999E solid;
      border-radius: 7px;
}
#btn{
      padding: 12px;
      text-decoration: none;
      color: white;
      font-size: small;
}
.btn:hover{
      background-color: #4abebe;
      border-color: #4abebe;
}
.footer{
      margin: 20px auto;
      margin-bottom:10px ;
}
.logo{
      margin: 10px;
      width: 31px;
}
.copyright{
      color: #EAF6F6;
      font-size: small;
      margin-bottom: 15px;
}
div.navigation{
      position: fixed;
      justify-content: right;
      width:5.5%;
      top: 30vh;
      margin-left: 10px;
}
.nav {
      display: flex;
      flex-direction:column;
      margin: 0;
      padding:0;
}
nav ul li {
      
      list-style: none;
      align-items: center;
      margin-bottom: 20px;
      height: 38px;
      width: 38px;
      transition-duration: 1s;
      border:1px solid #d4eded;
      background-color: #d4eded;
      border-radius: 30px;
}
li a{
      color: #11999E;
      text-decoration: none;  
}
i{
      margin:10px;
}
nav ul li:hover{
      background-color:white; 
}

@media only screen and (max-width:400){
      
      nav ul li{
            padding:0.5rem 0;
      }
      li a{
            font-size: 0.2rem;
            padding: 0.5rem 0;
            color: #11999E;
            text-decoration: none;  
      }
}
